.top {
  width: 100%;
  padding: 20px;
  background: linear-gradient(135deg, #fff176 0%, #ffb300 100%);
  position: sticky;
  top: 0;
  &_time {
    display: flex;
    align-items: center;
    justify-content: center;
    &_divider {
      margin: 0 5px;
    }
  }
  &_total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    &_item {
      &_money {
        font-size: 18px;
      }
    }
    .item2 {
      margin: 0 20px;
    }
  }
}
