.list {
  padding: 10px;
  &_item {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    &_money {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .txt1 {
        color: red;
      }
      .txt2 {
        color: green;
      }
      .txt3 {
        font-size: 16px;
      }
    }
  }
}
